{% load staticfiles %}
<!DOCTYPE html><html class="mdc-typography"><script src="https://code.jquery.com/jquery-3.2.1.min.js"></script><script type="text/javascript">!function(e,t,n){var c,o=e.getElementsByTagName(t)[0];e.getElementById(n)||((c=e.createElement(t)).id=n,c.src="https://connect.facebook.net/en_US/sdk.js",o.parentNode.insertBefore(c,o))}(document,"script","facebook-jssdk")</script><head><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>17rakaat | Waktu Solat Malaysia</title><base href="/">
{% csrf_token %}
<link href="{% static '/default.6ea67363b12fc1ebaa3661d5c04f1d43.css' %}" rel="stylesheet"></head><body><div id="app">Loading... Please wait</div>
<script type="text/javascript" src="{% static '/manifest.10b359fa0177eab5ccf3.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor.10b359fa0177eab5ccf3.js' %}"></script>
<script type="text/javascript" src="{% static '/default.10b359fa0177eab5ccf3.js' %}"></script></body></html>
<!-- {% csrf_token %} -->
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
console.log("view"+csrftoken)
</script>