

<html xmlns="http://www.w3.org/1999/html">
<head>
<script src='http://media.adamfast.com/QueryData.compressed.js'></script>
<script>
    function checkLocation() {
      var getData = new QueryData();
      if ('lat' in getData) { }
      else {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (ppos) {
              window.location.href = window.location.href + '?lat=' + ppos.coords.latitude + '&lon=' + ppos.coords.longitude;
            },
            function (err) {
              switch(err.code) {

                case err.TIMEOUT:
                  alert('Attempts to retrieve location timed out.')
                  break;

                case err.POSITION_UNAVAILABLE:
                  alert("Your browser doesn't know where you are.")
                  break;

                case err.PERMISSION_DENIED:
                  alert('You have to give us permission!')
                  break;

                case err.UNKNOWN_ERROR:
                  alert('Unknown error returned.')
                  break;

                default:
                  alert(err + ' ' + err.code)

              }
            }
          );
        }
      }
    }


</script></head>
<body{% block body_override %} onLoad="javascript:checkLocation();"{% endblock body_override %}>

{% if new_parse %}
{% block content %}

    <h2>Zon waktu solat: {{new_parse.zone.esolat_zone.zone_name}} ({{new_parse.zone.esolat_zone.code_name}})</h2>
    <h2>Koordinat anda : ({{new_parse.zone.lat}}, {{new_parse.zone.lng}})</h2>
    <h3> {{new_parse.date_time_parsed }}</h3>

    <table border="1">

      <tr> <td>Subuh   </td> <td>{{ new_parse.subuh  }} </td> </tr>
      <tr> <td>Syuruk  </td> <td>{{ new_parse.syuruk   }} </td> </tr>
      <tr> <td>Zohor   </td> <td>{{ new_parse.zuhur   }} </td> </tr>
      <tr> <td>Asar    </td> <td>{{ new_parse.asar    }} </td> </tr>
      <tr> <td>Maghrib </td> <td>{{ new_parse.maghrib  }} </td> </tr>
      <tr> <td>Isyak   </td> <td>{{ new_parse.isha    }} </td> </tr>

    </table>
    <br>

    <p> Waktu solat diambil daripada <a href="e-solat.gov.my"> e-Solat JAKIM </a> </p>
    <p>© Raden Muaz</p>

{% endblock %}
{% else %}

    <p>Zon Waktu Solat...</p>


{% endif %}


</body></html>
