{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
        <title>Azan by IP locator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/azanlocator.css' %}">

<!-- <script src='http://media.adamfast.com/QueryData.compressed.js'></script> -->
<script>
function QueryData(_1,_2){
if(_1==undefined){
_1=location.search?location.search:"";
}
if(_1.charAt(0)=="?"){
_1=_1.substring(1);
}
if(_1.length>0){
_1=_1.replace(/\+/g," ");
var _3=_1.split(/[&;]/g);
for(var _4=0;_4<_3.length;_4++){
var _5=_3[_4].split("=");
var _6=decodeURIComponent(_5[0]);
var _7=_5.length>1?decodeURIComponent(_5[1]):"";
if(_2){
if(!(_6 in this)){
this[_6]=[];
}
this[_6].push(_7);
}else{
this[_6]=_7;
}
}
}
};

    function checkLocation() {
      var getData = new QueryData();
      if ('lat' in getData) { }
      else {
        if (navigator.geolocation) {
          
          navigator.geolocation.getCurrentPosition(
            function (ppos) {
              window.location.href = window.location.href + '?lat=' + ppos.coords.latitude + '&lon=' + ppos.coords.longitude;
            },
            function (err) {
              switch(err.code) {

                case err.TIMEOUT:
                  alert('Attempts to retrieve location timed out.')
                  break;

                case err.POSITION_UNAVAILABLE:
                  alert("Your browser doesn't know where you are.")
                  break;

                case err.PERMISSION_DENIED:
                  alert('You have to give us permission!')
                  break;

                case err.UNKNOWN_ERROR:
                  alert('Unknown error returned.')
                  break;

                default:
                  alert(err + ' ' + err.code)

              }
            }
          );
        }
      }
    }


</script></head>
<body{% block body_override %} onLoad="javascript:checkLocation();"{% endblock body_override %}>
{% block content %}

<div class="page-header">
        <h1><a href="/">17rakaat.my -- Auto locate azan</a></h1>
    </div>
<div class="content container">
        <div class="row">
            <div class="col-md-8">

{% if new_parse %}
{% load humanize %}
    <h2>Zon waktu solat: {{new_parse.zone.esolat_zone.zone_name}} ({{new_parse.zone.esolat_zone.code_name}})</h2>
    <h2>Koordinat anda : ({{new_parse.zone.lat|floatformat:5|intcomma}}, {{new_parse.zone.lng|floatformat:5|intcomma}})</h2>
    <h3> {{new_parse.date_time_parsed }}</h3>

    <table border="1">

      <tr> <td>Subuh   </td> <td>{{ new_parse.subuh  }} </td> </tr>
      <tr> <td>Syuruk  </td> <td>{{ new_parse.syuruk   }} </td> </tr>
      <tr> <td>Zohor   </td> <td>{{ new_parse.zuhur   }} </td> </tr>
      <tr> <td>Asar    </td> <td>{{ new_parse.asar    }} </td> </tr>
      <tr> <td>Maghrib </td> <td>{{ new_parse.maghrib  }} </td> </tr>
      <tr> <td>Isyak   </td> <td>{{ new_parse.isha    }} </td> </tr>

    </table>
    <br>

    <p> Waktu solat diambil daripada <a target="_blank" href="http://e-solat.gov.my"> e-Solat JAKIM </a> </p>
    <p>© Raden Muaz</p>


{% else %}

    <h1>Parsing new zone...</h1>


{% endif %}
{% endblock %}
            </div>
        </div>
    </div>
</body></html>
